.payment-page-layout .trains-left {
  width: 360px;
}

@media (max-width: 1024px) {
  .payment-page-layout .trains-left {
    width: 100%;
    max-width: 400px;
  }
}

@media (max-width: 768px) {
  .payment-page-layout .trains-left {
    max-width: 100%;
  }
}
